@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.App {
  text-align: center;
}

.containernav *{
  max-width: 1592px;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
}

body{
  margin: 0px;
  overflow-x:hidden;
  font-family: Regular;
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.swiper-content{
  margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 30px;
    list-style: none;
    height: 387px;
    padding: 0;
    z-index: 1;
    background-color: #ffffff;
}


.swiper {

  width: 1286.39px;
  height: 479.375px;
  overflow: visible;
}

.swiper-slide {
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  background: #473c3c;
  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.swiper-container {
  overflow: visible;
}

.swiper-slide-active {
  filter: brightness(1)!important;
    transform: scale(1.09)!important;
    transition: all .3s ease!important;
}
